#header {
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%
}


.header-item__navbar-link {
    list-style: none;
    margin-left: 0;
}




.header-item__navbar-link-item-a {
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;
    display: inline-block;
    padding: 15px 25px;

}




.header-item__navbar-icon-search {
    color: var(--white-color);
    font-size: 1.4rem;
    cursor: pointer;
    padding: 17px 25px;
}

.header-item__navbar-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header-item__navbar-link-item-a-icon {
    color: var(--white-color);
    padding-left: 6px;
    position: absolute;
    top: 12.5px;
    right: 5px;
    font-size: 1.4rem;

}

.header-item__navbar-link-item-a:hover {
    background-color: #9f9a9a66;
    transition: background-color ease-in 0.2s;
}

.header-item__navbar-icon-hover:hover {
    background-color: rgba(255, 64, 0, 0.963);
    transition: background-color ease-in 0.2s;
}

.navbar-item__link-list {
    background-color: var(--white-color);
    list-style: none;
    padding-left: 0;
    position: absolute;
    top: 100%;
    box-shadow: 0 2px 2px 0 rgb(167, 165, 165);
    /* x, y, độ lơ(mờ), spread (lan rộng) */
    border-radius: 2px;
    display: none;


}

.header-item__navbar-link-item-more {
    position: relative;
}

.header-item__navbar-link-item-more:active .navbar-item__link-list {
    display: block;

}

.header-item__navbar-link-item-more:hover .navbar-item__link-list {
    display: block;

}

.navbar-item__link-list-option-a {
    text-decoration: none;
    color: var(--primary-color);
    padding: 10px 20px;
    display: block;
    font-size: 1.4rem;

}

.navbar-item__link-list-option:hover {
    background-color: #9f9a9a66;
    transition: background-color ease-in 0.1s;
}

/* Banner */
.banner-img {
    width: 100%;
    height: 750px;
}

.banner {

    width: 100%;
    margin-top: 40px;
    position: relative;
    padding-top: 50%;
    /* 50% chiều ngang của chính nó */
    /* background-image: url('/assets/hinhanh/banner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    background: url('../hinhanh/ny.jpg') top center /cover no-repeat;

}



.banner-text {
    position: absolute;
    bottom: 100px;
    color: white;
    font-size: 2rem;
    left: 0;
    right: 0;
    text-align: center;
    font-weight: 300;
    /* background-color: rgba(0, 0, 0, 0.5); */
    padding: 20px 0 40px 0;
    text-shadow: 0 0 1px #000;
    /* chiều ngang - chiều dọc - l(mờ xung quanh) - màu */
}

.banner-text h2 {
    margin-top: 17px;
    margin-bottom: 30px
}



.banner-text p {
    margin-top: 10px;
    font-weight: 300;
    font-size: 1.6rem;
}

/* .banner-img__text-description {
    position: absolute;
    top: calc(80% + 30px); */
/* 20px là khoảng cách từ top của banner-img__text */
/* color: rgb(226, 224, 224);
    font-size: 1.6rem;
    line-height: 2rem;
    left: 0;
    right: 0;
    text-align: center;
    font-weight: 300;
    background-color: rgba(0, 0, 0, 0);
    padding: 20px 0;
    font-weight: 300;

} */



.body__header-text {
    color: #353131;
    text-align: justify;
    line-height: 2.2rem;
}


.body_header {
    font-size: 2.6rem;
    padding: 26px 0 0 0;
    font-weight: 300;
}

.body__header-note {
    padding: 30px 0 20px 0;
    font-weight: 100;
    color: RGB(117, 117, 117);

}

/* img member */
.body-item__member-img {
    padding-top: 100%;
    background: url('../hinhanh/bandmember.jpg') top center /cover no-repeat;
    border-radius: 5px;
    ;
}

.body-item__member-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    padding-bottom: 10px;
}

.body-item__member-name {
    margin-bottom: 15px;
    font-size: 1.2rem;
    padding: 10px 0;
    font-size: 1.4rem;
    font-weight: 600;


}

.body-item__member {
    width: 200px;
    margin-bottom: 20px;

}

/* Tour */
.body-item__tour {
    background-color: var(--primary-color);
    padding: 0.1px 0 30px 0;

}

.body-item__tour-background {
    background-color: var(--primary-color);


}

.body-item__tour-header-color {
    color: white;
}

.body-item__tour-date {
    list-style: none;
    background-color: var(--white-color);

}

.body-item__tour-date-detail {
    display: flex;
    padding: 5px 15px;
    color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.1);
}



.body-item__tour-note {
    padding-bottom: 30px;
}

.body-item__tour-date-month-9,
.body-item__tour-date-month-10,
.body-item__tour-date-month-11 {
    padding: 5px 15px;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    width: 120px
}

.body-item__tour-date-label {
    padding: 5px 5px;
    color: white;
    background-color: rgb(221, 58, 13);

}

.body-item__tour-date-month-11 {
    flex: 1;
}

.body-item__tour-date-label-ticket {
    padding: 0px 10px;
    color: white;
    background-color: var(--primary-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-item__tour-box {
    margin-top: 32px;
}

.body-item__tour-box-item-img {
    width: 100%;
    height: 200px;
}

.body-item__tour-box-item-img:hover {
    opacity: 0.8;
}

.body-item__tour-box-item {
    background-color: white;
    width: 230px;
    text-align: left;
    margin-bottom: 20px;
    border-radius: 4px;
    overflow: hidden;


}

.body-item__tour-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.body-item__tour-box-item-header {
    padding-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 550;
}

.body-item__tour-box-item-content {
    padding: 10px 20px;
    font-size: 1.4rem;
}

.body-item__tour-box-item-date {
    padding-bottom: 20px;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.4)
}


.body-item__tour-box-item-text {
    padding-bottom: 10px;
    font-size: 1.4rem;
}

.body-item__tour-box-item-button {
    border-style: none;
    background-color: var(--primary-color);
    color: white;
    padding: 10px 15px;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color linear 0.2s;
}

.body-item__tour-box-item-link {
    text-decoration: none;
    color: white;
    cursor: pointer;

}



.body-item__tour-box-item-button:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: rgb(52, 51, 51);
    font-weight: 500;
}

/* Contact */
.body-contact__detail {
    display: flex;
    padding: 10px 0;
    align-items: center;
    position: relative;

}

.body-contact__detail-input-1 {
    display: flex;
    justify-content: space-between;


}

.body-contact__detail-input {
    text-align: left;
    width: 100%;
}

.body-contact__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.body-contact__detail-place {
    padding: 0 10px;
    display: flex;
    align-items: center;
}

.body-contact__detail-icon-2 {
    width: 20px;
    text-align: left;
    display: inline-block;
}

.body-contact__detail-input-general {

    padding: 10px;
    border: 1px solid #cccc;
    width: 50%;
}


.body-contact__detail-input-message {
    margin-top: 10px;
    width: 100%;
}

.body-contact__detail-input-email {
    margin-left: 10px;

}

.body-contact__detail-input {
    margin-top: 10px;
}

.body-contact__button {
    border-style: none;
    padding: 10px;
    color: white;
    background-color: black;
    border-radius: 2px;
    cursor: pointer;
}

.body-contact__button-link {
    display: block;
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.body-contact__button:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: black
}

/* img */
.body-img {
    background-repeat: no-repeat;
    background-position: contain;


}

.body-img_img {
    width: 100%;

}

.body-footer__text {
    margin: 20px 0;
    color: #757575;
}

.body-footer__text a {
    color: #757575;
}

.body-footer {
    color: #757575;
    font-size: 2.4rem;
}

.body-footer a {
    text-decoration: none;
    color: #757575;
    width: 10px;

}

.body-item__footer-link:hover {
    opacity: 0.8;
}

.body-band {
    padding-top: 10px;

}

.body-contact {
    padding-top: 10px;
    padding-bottom: 10px;
}

.body-contact__detail-place a {
    padding-left: 10px
}